body{
  height: 2000px;
}

.image_box{
  position: relative;
   height: 600px;
   background-image: url(cityscape-blur.jpg);
   background-size: auto 600px;
   background-attachment: fixed;

}

.heading_box{
  position: absolute;
  width: 600px;
  background-color: #CCCCCC;
  border-radius: 20px;
  box-shadow: 9px 9px 5px #999999;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  top: 400;
  margin-left: 40px;
}

.content{
  margin-top: 50px;
}

.projects_title{
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 26px;
  padding-top: 50px;
}

