body{
  height: 2000px;
}

.image_box{
  position: relative;
   height: 400;
   background-image: url(cityscape-blur.jpg);
   background-size: auto 600px;
   background-attachment: fixed;
   background-size: cover;
}

.heading_box{
  position: absolute;
  width: 600px;
  background-color: #CCCCCC;
  border-radius: 20px;
  box-shadow: 9px 9px 5px #999999;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  top: 270;
  margin-left: 40px;

}

.gas_mask{
  position: absolute;
  height: 130px;
  right: 0px;
  margin-top: 50px;
  margin-right: 50px;
  opacity: 0.7;
}

.content{
  margin-top: 50px;
}

.projects_title{
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 26px;
  padding-top: 50px;
}

.about_paragraph{
  float: left;
  width: 400px;
  text-align: center;
  margin: 220px 0 0 150px;
  font-size: 22px;
}

.about_image{
  float: right;
  width: 300px;
  margin: 220px 150px 0 0;
}

